*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainDivHeader
{
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    margin-bottom: 2%;
    height: auto;
}
.mainDivProducts
{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
}
.individualProduct
{
    outline: 1px solid black;
    border-radius: 5px;
    padding: 3%;
}
footer
{
    position: relative;
}
footer > nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}