.mainDivProducts
{
    padding-top: 2%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-items: center;
    justify-content: center;
    row-gap: 3%;
    column-gap: 2%;
}
.cardButtonsDivDiv
{
    width: auto;
    display: flex;
    justify-content: space-between;
}